h1 {
  margin-left: 350px;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 2.5px;
}

.ghost {
  background-color: gray;
}

.food {
  background-color: red;
  border-radius: 3.5px;
}

#scoreBoard {
  width: 200px;
  height: 100px;
  margin: auto auto;
  border: 1px solid black;
  text-align: center;
  color: darkblue;
}